  <!-- anything typed in here is magically saved to our Firebase database! -->
    <input type="text" ng-model="data.text"/>
    <!-- all changes from our Firebase database magically appear here! -->
    <h1>You said: {{ data.text }}</h1>

      $scope.addMessage = function () {
  		
		ref.authWithPassword({
  			"email": "pulkitkkr@gmail.com",
  			"password": "abcd1234"
		}, function(error, authData) {
  		if (error) {
    		console.log("Login Failed!", error);
  			} else {
    		console.log("Authenticated successfully with payload:", authData);
  		}
	});
  
   