<form class="form-signin">
		<label for="inputName" class="sr-only">Name</label>
        <input ng-model="formData.mail" type="email" id="inputName" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input ng-model="formData.mail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="formData.pass" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block col-md-6">Sign Up</button>
        <button class="btn btn-lg btn-primary btn-block col-md-6">Sign Up using Facebook</button>
</form>